html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.cartridge {
  margin-top: 170px; /* space from top */
  width: 300px; /* adjust as needed */
  max-width: 40vw;
  height: auto;
  z-index: 1;
}

.gba {
  margin-top: 30px; /* space between cartridge and GBA */
  width: 700px; /* adjust as needed */
  max-width: 80vw;
  height: auto;
  z-index: 1;
}